#header-principal {
    background: radial-gradient(circle at 20% 30%, rgba(12,12,12,0.75) 0%, rgba(70,8,8,0.8) 18%, rgba(200,32,6,0.85) 45%, rgba(255,170,60,0.65) 70%, rgba(10,6,6,0.9) 100%);
    color: white;
    padding: 20px;
    text-align: center;
}

.botao {
    background-color: rgb(131, 47, 47);
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.botao:hover {
    background-color: rgb(252, 0, 0);
    transform: scale(1.05);
}

.card{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgb(156, 0, 0);
    max-width: 300px;
}

#header-principal .botao {
    background: black;
    border: 2px solid white;
}